.menu {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  padding-top: 25px;
}
.menu-itens {
  display: flex;
  justify-content: flex-start;
  padding: 10px;
  font-size: 20px;
  list-style: none;
}
.menu-itens a {
    text-transform: uppercase;
  margin: 0 15px;
  text-decoration: none;
  color: #666666;
}
.menu-itens a:hover{
    color: #1f1e1e;
    
}
.menu-social{
    display: flex;
    padding: 10px;
    max-height: 20px;
}
.menu-social a{
    margin: 0 15px;
}
.sobre{
    display: flex;
    padding-top: 240px;
    max-width: 1204px;
    margin: 0 auto;
}
.texto-sobre {
  font-weight: 700;
  font-style: normal;
  font-size: 50px;
  color: #42446e;
} 
.foto-sobre{
    display: flex;
    margin-left: 20%;
}
.foto-sobre img{
    border: solid 10px black;
    width: 300px;
    height: 300px;
    border-radius: 50% ;
    object-fit: cover;
}
.stacks{
    padding-top: 240px;
    text-align: center;
    color: #666666;
    font-weight: 700;
    font-style: normal;
    font-size: 40px;
}
.stack-img{
    background-color: rgba(255, 255, 255, 0);
}
.stack-img img:hover{
    transition-duration: 0.2s;
    transform: scale(1.2);
    background-color: rgba(255, 255, 255, 0);
}
.interesses{
    padding-top: 240px;
    text-align: center;
    color: #666666;
    font-weight: 700;
    font-style: normal;
    font-size: 40px;
}